body {
    background:url(imagenes/hotel_login.jpg);
    
}

.login-form {
    width: 340px;
    background: rgba(0, 0, 0, 0.4117647058823529);
    margin: 50px auto;
    margin-bottom: auto;
}

.login-form form {
    margin-bottom: 0px;
    padding: 30px;
    padding-bottom: 5px;
}

.login-form h2 {
    margin: 0 0 15px;
    color: #d51a56;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
}

.login-form a {
    color: #007bff;
    text-decoration: underline;
}

.login-form a:hover{
  color: white;
}

.login-form a:active{
  color: red;
}

.login-form p a {
    color: #007bff;
    text-decoration: underline;
    margin: 0px;
}